@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  .card_Prod {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardConteiner {
    width: 300px;
    height: auto;
    background-color: rgb(245,245,245);
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 20px;

  
  }
  
  .cardList_Img {
    width: 100px;
    height: auto;
    margin-top: 10px;
  
  }
  
  .cardList_Name {
    text-transform: uppercase;
    text-align: center;
  }
  
  .cardList_Color {
    text-align: center;
  }
  
  .cardList_Price {
    text-transform: uppercase;
    font-size: large;
    color: red;
  }
  
  .material-icons{
    cursor: pointer;
  }
  
  .cardList_footer {
    margin-top: 10px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .cardList_Button {
    text-transform: uppercase;
    font-family:'Material Icons';
    padding: 5px 5px 5px 5px;
    border: 1px red solid;
    border-radius: 10px;
    color: red;
  }
  