@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


  .list_Prod {
    display: grid;
  }

  .list_Conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 150px;
  
  } 
  
  .list_Img {
    width: auto;
    height: auto;
  
  }
  
  .list_Name {
    display: table;
  
  }
  
  .list_Color {
  }
  
  .list_Price {
  
  }
  
  .material-icons{
    cursor: pointer;
  }
  
  .list_footer {
    display: flex;
    justify-content: space-around;
  }
  
  .list_Button {
    text-transform: uppercase;
    font-family:'Material Icons';
    padding: 5px 5px 5px 5px;
    border: 1px red solid;
    border-radius: 20%;
  }
  