@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  
  .cardList {
    display: grid;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
  
  }
  
  .cardConteiner {
    display: grid;
  }
  
  .cardList_Img {
    width: 300px;
    height: auto;
  
  }
  
  .cardList_Name {
    display: table;
  
  }
  
  .cardList_Color {
  }
  
  .cardList_Price {
  
  }
  
  .material-icons{
    cursor: pointer;
  }
  
  .cardList_footer {
    display: flex;
    justify-content: space-around;
  }
  
  .cardList_Button {
    text-transform: uppercase;
    font-family:'Material Icons';
    padding: 5px 5px 5px 5px;
    border: 1px red solid;
    border-radius: 20%;
  }
  